.dropDown {
  position: absolute;
  top: 4rem;
  left: -1rem;
  background-color: var(--color-white);
  width: 25rem;
  padding: 2rem 2rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: fadeIn 0.4s;
  z-index: 1500;
}

@keyframes fadeIn {
  0% {
    transform: translateY(14px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.dropDownList {
  list-style: none;
}
