.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 12rem;
  transition: all 0.3s;

  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-items: start;
  align-items: center;
  z-index: 1000;
}

.whiteBg {
  background-color: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(4px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.navContainer a {
  justify-self: self-end;
}

.navigation {
  justify-self: center;
}

.navigationList {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.logoContainer {
  width: 100%;
}

.logo {
  width: 160px;
  height: auto;
  cursor: pointer;
}

@media only screen and (max-width: 93.75em) {
  .navContainer {
    padding: 2rem 8rem;
  }
}

@media only screen and (max-width: 68.4375em) {
  .navContainer {
    display: none;
  }
}
