@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --color-brown: #140800;
  --color-black: #0a0400;
  --color-trueBlack: #000000;
  --color-white: #ffffff;
  --color-gray: #f0f0f0;
  --color-orange: #cc5500;
  --color-success: #0acc00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-weight: 500;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  transition: color 0.2s, background-color 0.3s;
}

p {
  text-align: justify;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}
