.hero {
  position: relative;
  display: grid;
  place-content: center;
  grid-auto-rows: max-content;
  row-gap: 3rem;
  padding: 8rem 12rem;

  height: 86vh;
}

.backgroundImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(
      71.35% 71.35% at 50% 50%,
      rgba(255, 255, 255, 0.94) 0%,
      rgba(209, 209, 209, 0.94) 100%
    ),
    url('/images/background-img.jpg'); */
  /* background-position: center; */
  background-size: cover;
  animation: zoomInOut 20s infinite;
  z-index: -2;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heading {
  font-weight: 600;
}

.xl {
  font-size: 6.8rem;
}

.lg {
  font-size: 4.8rem;
}

.sm {
  font-size: 2.8rem;
}

.heading span {
  color: var(--color-orange);
}

.dark {
  color: var(--color-white);
}

.headingMask {
  overflow: hidden;
}

.hero p {
  font-size: 2.6rem;
  font-style: italic;
  border-left: 5px solid var(--color-orange);
  padding-left: 2rem;
}
.logoContainer {
  display: none;
}

@media only screen and (max-width: 81.25em) {
  .hero {
    padding: 8rem 10rem;
  }

  .xl {
    font-size: 6rem;
  }

  .lg {
    font-size: 4.4rem;
  }

  .sm {
    font-size: 2.4rem;
  }

  .hero p {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 75em) {
  .hero {
    padding: 8rem;
  }

  .logoContainer {
    display: block;
    width: 50%;
  }

  .logoContainer img {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 59.375em) {
  .hero {
    padding: 8rem 4rem;
  }
  .xl {
    font-size: 4rem;
  }

  .lg {
    font-size: 2.8rem;
  }

  .sm {
    font-size: 1.8rem;
  }
  .hero p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 34.375em) {
  .xl {
    font-size: 3.2rem;
  }

  .lg {
    font-size: 2.2rem;
  }
  .sm {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 30em) {
  .hero {
    padding: 4rem 2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .xl {
    font-size: 2rem;
  }

  .lg {
    font-size: 2rem;
  }

  .hero p {
    font-size: inherit;
  }
}
