.form {
  max-width: 60%;
  margin: auto;
  padding: 4rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 2.5rem;
  display: grid;
  row-gap: 3rem;
}

.fields {
  display: grid;
  row-gap: 1.8rem;
}

.fieldset {
  border: none;
  display: grid;
  row-gap: 1rem;
}

.fieldset input,
.fieldset textarea {
  font: inherit;
  background-color: var(--color-gray);
  border: 1px solid transparent;
  outline: 1px solid transparent;
  padding: 1rem 2rem;
  min-width: 30rem;
  border-radius: 0.8rem;

  transition: all 0.2s;
}

.fieldset input:focus,
.fieldset textarea:focus {
  border: 1px solid var(--color-orange);
  outline: 1px solid var(--color-orange);
  background-color: var(--color-white);
}

.fieldset textarea {
  min-height: 10rem;
}

.fieldset p {
  color: var(--color-orange);
}

.form button {
  justify-self: center;
}

@media only screen and (max-width: 53.125em) {
  .form {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 28.125em) {
  .form {
    padding: 4rem 2rem;
  }
  .fieldset input,
  .fieldset textarea {
    min-width: 100%;
  }
}
